<div class="crimeserver-list p-5">
  <div class="card mt-3">
    <div class="card-header">
      <span translate="CRIMESERVER.LIST.TITLE" [translateParams]="{value: count}"></span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-primary" scope="col">Seen</th>
              <th class="text-primary" scope="col">URL</th>
              <th scope="col">Type</th>
              <th class="text-primary" scope="col">Subtype</th>
              <th class="text-primary" scope="col">Status</th>
              <th class="text-primary" scope="col">TM Seen</th>
              <th class="text-primary" scope="col">TM Status</th>
              <th scope="col">Evidences</th>
              <th scope="col">@API</th>
              <th scope="col">@FreeAPI</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{item.attributes.last_seen}}</td>
              <td>{{item.attributes.crime_server_url}}</td>
              <td>{{item.attributes.main_type}}</td>
              <td>{{item.attributes.subtype_name}}</td>
              <td class="text-center text-success"><i class="fa fa-skyatlas"></i></td>
              <td class="text-center">-</td>
              <td class="text-center">-</td>
              <td class="text-center text-danger"><i class="fa fa-times"></i></td>
              <td class="text-center text-danger"><i class="fa fa-question-circle"></i></td>
              <td class="text-center text-danger"><i class="fa fa-question-circle"></i></td>
              <td class="text-center"><a [routerLink]="['/dashboard']"><i class="fa fa-search-plus"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
