<div class="crimeserver-list p-5">
  <div class="card mt-3">
    <div class="card-header">
      <span translate="CRIMESERVER.LIST.TITLE" [translateParams]="{value: count}"></span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-primary" scope="col" translate="CRIMESERVER.LIST.SEEN"></th>
              <th class="text-primary" scope="col" translate="CRIMESERVER.LIST.URL"></th>
              <th scope="col" translate="CRIMESERVER.LIST.TYPE"></th>
              <th class="text-primary" scope="col" translate="CRIMESERVER.LIST.SUBTYPE"></th>
              <th class="text-primary" scope="col" translate="CRIMESERVER.LIST.STATUS"></th>
              <th class="text-primary" scope="col" translate="CRIMESERVER.LIST.TM_SEEN"></th>
              <th class="text-primary" scope="col" translate="CRIMESERVER.LIST.TM_STATUS"></th>
              <th scope="col" translate="CRIMESERVER.LIST.EVIDENCES"></th>
              <th scope="col" translate="CRIMESERVER.LIST.API"></th>
              <th scope="col" translate="CRIMESERVER.LIST.FREE_API"></th>
              <th scope="col" translate="CRIMESERVER.LIST.DETAILS"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{item.attributes.last_seen | dateFormat}}</td>
              <td>{{item.attributes.crime_server_url | textEllipsis}}</td>
              <td>{{item.attributes.main_type}}</td>
              <td>{{item.attributes.subtype_name}}</td>
              <td class="text-center text-success"><i class="fa fa-skyatlas"></i></td>
              <td class="text-center">-</td>
              <td class="text-center">-</td>
              <td class="text-center text-danger"><i class="fa fa-times"></i></td>
              <td class="text-center text-danger"><i class="fa fa-question-circle"></i></td>
              <td class="text-center text-danger"><i class="fa fa-question-circle"></i></td>
              <td class="text-center"><a [routerLink]="['/dashboard']"><i class="fa fa-search-plus"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" [rotate]="true" [maxSize]="8" [totalItems]="count"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>
</div>
