/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}
.content {
  flex: 1 0 auto;
}
